{% extends 'base.html.twig' %}

{% block title %}Tournoi index{% endblock %}

{% block body %}
    <h1>Tournoi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomTournoi</th>
                <th>NomOrganisation</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>NbJoueurMax</th>
                <th>Description</th>
                <th>BanniereTr</th>
                <th>LienTwitch</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournoi in tournois %}
            <tr>
                <td>{{ tournoi.id }}</td>
                <td>{{ tournoi.nomTournoi }}</td>
                <td>{{ tournoi.nomOrganisation }}</td>
                <td>{{ tournoi.dateDebut ? tournoi.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ tournoi.dateFin ? tournoi.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ tournoi.nbJoueurMax }}</td>
                <td>{{ tournoi.description }}</td>
                <td>{{ tournoi.banniereTr }}</td>
                <td>{{ tournoi.lienTwitch }}</td>
                <td>{{ tournoi.createdAt ? tournoi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tournoi.updatedAt ? tournoi.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tournoi_show', {'id': tournoi.id}) }}">show</a>
                    <a href="{{ path('app_tournoi_edit', {'id': tournoi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tournoi_new') }}">Create new</a>
{% endblock %}
