{% extends 'base.html.twig' %}

{% block title %}
	TournoisEsport
{% endblock %}


{% block body %}
	<div class="dropdown">
		<button onclick="showDropdown()" class="dropbtn" id="selectGameButton">
			Sélectionnez un jeu
		</button>
		<div id="myDropdown" class="dropdown-content">
			{% for jeu in jeux %}
				<a href="#" onclick="selectGame('{{ jeu.id }}' , '{{ jeu.nomJeu }}' )">{{ jeu.nomJeu }}</a>
			{% endfor %}
		</div>
	</div>
	{% for tournoi in tournois %}
		<div class="tournois-list">
			<a href="{{ path('app_tournoi_show', {'id' : tournoi.id }) }}">
				<div class="tournament-item">
					<div class="tr-container">
						<div>
							<img class="tournoi-img" src="{{ vich_uploader_asset(tournoi, 'banniereTrFile') }}" alt="Bannière tournoi"/>
							<p>{{ tournoi.nomTournoi }}</p>
							<p>{{ tournoi.nomOrganisation }}</p>
						</div>

						<div class="tournament-time">
							<p>{{ tournoi.dateDebut | format_datetime(locale='fr',pattern="EE dd MMM") }}</p>
							<p>{{ tournoi.dateDebut | format_datetime('none', 'short', locale='fr') }}</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	{% endfor %}
{% endblock %}
