{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <img class="logo" src="{{ asset('img/logo.png') }}" alt="Logo victoryforge" />
    <hr>
    <a href="{{ path('app_home') }}">Accueil</a>
    <a href="{{ path('app_profil') }}">Profil</a>
    <a href="{{ path('app_tournoi_new') }}">Organiser un tournoi</a>
    <a href="">Paramètres du compte</a>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>
</div>

{% endblock %}

{% block body %}

<h1>{{ app.user.pseudo }}</h1>

{% if equipe is null %}
<a href="{{ path('new_equipe')}}">Crée une équipe</a>
{% endif %}

{% if equipe is not null %}

<h2>{{ equipe.nomEquipe }}</h2>
<p>{{ equipe.description }}</p>
{% if equipe.logo is not empty %}
<img src="{{vich_uploader_asset(equipe, 'imageFile')}}" alt="Image de l'équipe {{ equipe.nomEquipe }}">
{% endif %}

{% endif %}

{% endblock %}