{% extends 'base2.html.twig' %}
{% block title %}Profil
{% endblock %}

{% block sidebar %}
	{{ include ('include/profil_sidebar.html.twig') }}
{% endblock %}

{% block body %}
<section class="profil-pic-pseudo-container">
	{% if user and user.photo %}
		<figure>
			<img class="profilPic-cr" src="{{ vich_uploader_asset(user, 'photoFile') }}" alt="Photo de profil">
		</figure>
	{% elseif user %}
		<figure>
			<img style="height: 80px; width: 80px;" src="{{ asset('img/defaultProfile.png') }}" alt="Photo de profil">
		</figure>
	{% endif %}
	<div class="member-pseudo">
		<span>
			{{ user.pseudo }}
			{% if app.user and user.id != app.user.id and not user.isBanned %}
				<a title="Inviter {{ user.pseudo }} dans votre équipe"
					href="#" id="invite-user" data-user-id={{user.id}}>
					<i class="fa-solid fa-user-plus"></i>
				</a>
			{% endif %}
		</span>
		<p>Membre depuis le {{ user.createdAt|format_date('short', locale='fr') }}</p>
	</div>
	<div class="member-info">
		{% if app.user and user.id != app.user.id %}
			{% if alreadyFollow %}
				<a href="#" class="follow-btn" id="follow-user" data-user-id={{user.id}}>Ne plus suivre</a>
			{% else %}
				<a href="#" class="follow-btn" id="follow-user" data-user-id={{user.id}}>Suivre</a>
			{% endif %}
				{% if alreadyFollow == true %}
				{% endif %}
		{% endif %}
	</div>
	{% if user.id != app.user.id %}
		<div class="contact-user-profil">
			{# Icon pour contacter l'organisateur d'un tournoi #}
			<i title="Contacter {{ user.pseudo }}" id="chat-icon" class="fa-regular fa-message chat-icon" data-organisateur-id="{{ user.id }}"></i>
		</div>
	{% endif %}
	</section>
<section id="profil-content">
	<div class="titre-equipe">
		{% if user == app.user %}
		<h2 class="title-mes-equipes">Mes équipes</h2>
			<a class="crt-team" title="Créer une équipe" href="{{ path('new_equipe') }}">
				Créer une équipe 
					<i class="fa-regular fa-square-plus"></i>
			</a>
		{% else %}
		<h2 class="title-mes-equipes">Equipes de {{ user.pseudo }}</h2>
		{% endif %}

	</div>
	{% if equipes is empty %}
		<div class="no-equipe">
			<p>Vous n'avez pas d'équipe</p>
		</div>
	{% else %}
	<article class="container-equipe">
		{% for equipe in equipes %}
		<div class="box-equipe">
			{% if equipe.logo is not empty %}
				<figure>
					<img src="{{ vich_uploader_asset(equipe, 'imageFile') }}" alt="Logo de l'équipe {{ equipe.nomEquipe }}" />
				</figure>
				<h2>{{ equipe.nomEquipe }}</h2>
				<p>
					Membre depuis le
					{{ equipe.createdAt|format_date('full', locale='fr') }}
				</p>
				<a href="{{ path('app_search_user') }}">Inviter</a>
				<a href="{{ path('equipe_quitter', { id: equipe.id }) }}">Quitter</a>
			{% endif %}
			{% endfor %}
		</div>
	</article>

	{% endif %}
	<article class="box-tournois">
		<h2>Mes tournois</h2>
		{% for tournoi in tournois %}
			<img style="width: clamp(30px, 50px, 50px);" src="{{ vich_uploader_asset(tournoi, 'banniereTrFile') }}"
				alt="Logo d'un tournoi" />
		{% endfor %}
	</article>

	<article class="box-followers">
		<h2>Mes followers</h2>

		{% for item in followers %}
			<p>{{item.follower.pseudo}}</p>
		{% endfor %}

		<h2>Les personnes que je follow</h2>

		{% for item in followings %}
			<a href="">{{item.following.pseudo}}</a>
		{% endfor %}
	</article>

</section>

{% endblock %}
	{# JavaScript #}
{% block javascripts %}
	<script src="{{ asset('js/script.js') }}"></script>
	<script src="{{ asset('js/profil.js') }}"></script>
{% endblock %}