{% extends 'base.html.twig' %}
{% block title %}Profil
{% endblock %}

{% block sidebar %}
	{{ include ('include/profil_sidebar.html.twig') }}
{% endblock %}

{% block body %}
	<h1>{{ app.user.pseudo }}</h1>
	<p>
		Membre depuis le
		{{ app.user.createdAt|format_date('short', locale='fr') }}
	</p>
	{% if app.user.isBanned == false %}
		<p>
			<a href="{{ path('app_chat') }}">Chat</a>
		</p>
	{% else %}
		<p>
			L'utilisateur est banni jusqu'au :
			{{ app.user.banExpireIn|format_date('full',  locale='fr') }}
		</p>
	{% endif %}
	<p></p>
	<div class="titre-equipe">
		<h2>Mes équipes</h2>
		<a href="{{ path('new_equipe') }}">Crée une équipe</a>
	</div>
	{% if equipes is empty %}
		<div class="no-equipe">
			<p>Vous n'avez pas d'équipe</p>
		</div>
	{% else %}
		<div class="container-equipe">
			{% for equipe in equipes %}
				<div class="box-equipe">
					{% if equipe.logo is not empty %}
						<img src="{{ vich_uploader_asset(equipe, 'imageFile') }}" alt="Logo de l'équipe {{ equipe.nomEquipe }}"/>
						<h2>{{ equipe.nomEquipe }}</h2>
						<p>
							Membre depuis le
							{{ equipe.createdAt|format_date('full', locale='fr') }}
						</p>
						<a href="{{ path('equipe_quitter', { id: equipe.id }) }}">Quitter</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}

	<h2>Mes tournois</h2>

	{% for tournoi in tournois %}
		<img style="width: clamp(30px, 50px, 50px);" src="{{ vich_uploader_asset(tournoi, 'banniereTrFile') }}" alt="Logo d'un tournoi"/>
	{% endfor %}
{% endblock %}
