{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!
{% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}
	<div id="chat" data-user-id="{{ app.user.id }}">
		<div class="rooms">
			{% for room in rooms %}
				<div class="room-item" data-room-id={{room.id}}>
					{% for utilisateur in room.utilisateurs %}
						{% if utilisateur.id != app.user.id %}
							<p>{{utilisateur.pseudo}}</p>
						{% endif %}
					{% endfor %}
					<p class="last-message" id="last-message-{{room.id}}">{{ room.lastMessage }}</p>
					<p>{{ room.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
				</div>

				<hr>

			{% endfor %}
		</div>
		<div class="message-container">
			<div id="messages"></div>
			<div class="message-form">
				<form class="hide-form" id="send-message-form">
					<textarea id="message-text" placeholder="Écrivez un message..."></textarea>
					<button class="btn-send" type="submit">
						<span class="material-symbols-outlined">
							send
						</span>
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	{# {{ parent() }} #}
	<script src="{{ asset('js/chat.js') }}"></script>
{% endblock %}
