<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Bienvenue !
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
		{% block stylesheets %}
			<link
			rel="stylesheet" href="{{ asset('css/style.css') }}"/>
		{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}
	</head>

	<body>
		<div id="main-container">
			{% block sidebar %}
				{{ include ('include/sidebar.html.twig') }}
			{% endblock %}

			<div id="content"> {% block body %}{% endblock %}
				</div>
			</div>
			{% block javascripts %}
				{# {{ encore_entry_script_tags('app') }} #}
				<script src="{{ asset('js/script.js') }}"></script>
				<script src="/tarteaucitron/tarteaucitron.js"></script>

			{% endblock %}
		</body>

	</html>
