{% extends 'base.html.twig' %}

{% block title %}Créer une équipe
{% endblock %}
{% block body %}
	<h1>Créer une équipe</h1>


	{{ form_start(form) }}
	{{ form_row(form.jeu) }}
	{{ form_row(form.nomEquipe) }}
	{# {{ form_row(form.description) }} #}
	<textarea name="tournoi-description" id="tournoi-description"></textarea>
	{# <button class="btn">{{ button_label|default('Enregistrer') }}</button> #}
	{{ form_row(form.imageFile) }}
	{{ form_row(form.submit) }}
	{{ form_end(form) }} 


{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
	<script src="{{ asset('js/tinymce.js') }}"></script>
{% endblock %}
